
LLM_NAME="openai/gpt-oss-20b"

# ---------------------------------------------------    PLAYWRIGHT
PLAYWRIGHT_HEADLESS=false

# ---------------------------------------------------    ASTRO CLIENT
CLIENT_ORIGIN="http://localhost:4321"

ADMIN_EMAIL=
ADMIN_PASSWORD=

WELCOME_SENT=true
USER_NAME=

# ---------------------------------------------------    BETTER AUTH 
BETTER_AUTH_URL="http://localhost:7000"
BETTER_AUTH_SECRET=

# ---------------------------------------------------    DATABASE POSTGRES / NEON
DATABASE_URL=


OPENROUTER_API_KEY=